.ContainerShowProducts{
    width: 90%;
    margin: auto;
    // height: 100vh;
    
    .titleProducts{
        text-align: center;
        padding: 90px 0 0 0;
        color: #FFF;
    }


    .wrapperShowProducts{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 50px 0;

        .wrapperProduct{

            width: 20%;
            margin: 15px;
            float: left;
            text-align: center;
            border-radius: 20px;
            padding-top: 10px;
            background-color: #f2f2f2;
            box-shadow: 0 14px 28px rgba(0,0, 0,25), 0 10px 10px rgba(0, 0, 0, 0.22);
            transition: 1s;

            // &.wrapperProduct:hover{
            //     box-shadow: 0 3px 6px rgba(0,0, 0,16), 0 3px 6px rgba(0, 0, 0, 0.23);
            //     transform: translate(0px, -8px);
            // }
           
    
            .ProductShow{

                .imgProduct{
                    width: 200px;
                    height: 200px;
                    text-align: center;
                    margin: auto;
                    display: block;
                }

                .productInfo{
                    
                    padding: 10px 20px;

                    .titleProduct{
                        font-size: 26px;
                        text-align: center;
                        margin: 0 0 10px 0;
                    }

                    .descProduct{
                        text-align: center;
                        padding: 0 8px;
                        margin-bottom: 10px;
                    }
                }
            }

            .adminBtns{
                
                padding: 20px;
                
                .edit,
                .del{
                    font-weight: bold;
                    color: #fff;
                    font-size: 18px;
                    background-color: #a20717;
                    padding: 3px 20px;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    
                }

                .edit{
                    margin-right: 30px;
                }
            }
    
    
        }
    }

    .addProductToHome{
        text-align: center;

        .add{
            font-weight: bold;
            color: #fff;
            font-size: 20px;
            background-color: #fff;
            color: #a20717;
            padding: 10px 30px;
            outline: none;
            border: none;
            width: 20%;
            cursor: pointer;
            margin-bottom: 10px;
            border-radius: 30px;
        }
    }
}


@media screen and (min-width:320px) and (max-width:480px) {
    .ContainerShowProducts{
        width: 90%;


        .titleProducts{
            padding: 20px 0 0 0 ;
            font-size: 26px;
        }

        .wrapperShowProducts{

            .wrapperProduct{
                width: 100%;
                margin: 15px 0;
                
                
            }

            .adminBtns{
                .edit,
                .del{
                    margin: 0 0 20px 0;
                }

                .edit{
                    margin-right: 50px;
                }
            }
            
        }

        .addProductToHome{
            text-align: center;
    
            .add{
                width: 100%;
                border-radius: 10px;
            }
        }

    }
}

@media screen and (min-width:481px) and (max-width:768px) {
   .ContainerShowProducts{

        width: 100%;
        
        .wrapperShowProducts{
            
            .wrapperProduct{
                width: 45%;
            }
        }

        .addProductToHome{
            
            .add{
                width: 50%;
              
            }
        }


   }
}

