.ContainerShowProducts{

    width: 90%;
    margin: auto;
    height: 100vh;
    
    

    .titleProducts{
        text-align: center;
        padding: 35px 0 40px 0;
        color: #FFF;
    }

    .wrapper{

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .Product{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background-color: rgb(255, 255, 255);
            width: 48%;
            height: 220px;
            margin-bottom: 40px;
            border-radius: 20px;

            span {
                height: 220px;
                width: 30px;
                border-top-left-radius: 18px;
                border-bottom-left-radius: 18px;
                background-color: #a20717;
            } 

            .productInfo{
                margin-right: 0px;
                direction: rtl;
                width: 300px;
                margin-left: 40px;
                

                .titleProduct{
                    margin-bottom: 20px;
                    font-size: 23px;
                    letter-spacing: 1px;
                    color: #2a2a2a;
                }

                .descProduct{
                    width: 90%;
                    
                }
            }

            .imgProduct{
                width: 200px;
                margin-right: 20px;

            }


        }
    }
}