.containerContent {

    height: 100vh;
    direction: rtl;
    background-image: url('./../../../public/image/Web\ 1920\ –\ 1.png');
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .informationContent{
        color: #fff;
        padding: 0 2rem;

        .title-information-Content {
            font-size: 3rem;
        
            .titleActive{
                color: #d33636;
            }
        }
        
        .desc-information-Content{
            margin: 25px 0 35px 0;
            font-size: 25px;
        }
        
        .linkBtn {
            color: #d33636;
        }
        
        .btn{
            display: inline-block;
            padding: 7px 20px;
            background-color: aliceblue;
            font-size: 20px;
            font-weight: 600;
            border-radius: 4px;
            cursor: pointer;
            
            
        }
        
        .btnActive{
            margin-right: 20px;
            border: 1px solid #fff;
            background-color: inherit;
            color: #fff;
            

            .fa {
                margin-right: 8px;
            }
        }

    }
}

@media screen and (min-width:320px) and (max-width:1024px){
    .containerContent{
        height: calc(100vh - 60px);
        .informationContent{
            padding: 0 1.5rem;
            .title-information-Content {
                font-size: 2rem;
            }

            .desc-information-Content{
                font-size: 18px;
            }

            .btn{
                padding: 5px 15px;
                font-size: 18px;
                
            }

        }

    }
}