.containerAboute{
    color: #FFF;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    


    .titleAboute{
        text-align: center;
        color: #d33636;
        
    }

    .descAboute{
        text-align: center;
        margin: 25px;
    }
}

@media screen and (min-width:320px) and (max-width:768px) {
    .containerAboute{
        height: 100%;

        .titleAboute{
            padding: 15px 0 0 0;
            font-size: 26px;
            margin: 30px;
        }

        .descAboute{
            font-size: 16px;
        }
        
    }
}