.containerAboute{
    color: #FFF;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    


    .titleAboute{
        text-align: center;
        color: #a20717;
        
    }

    .descAboute{
        text-align: center;
        margin: 25px;
    }
}