.containerNavbar {
    background: #202020;
    opacity: 0.9;
    height: 60px;
    position: fixed;
    width: 100%;
    


    .wrapperNavbar {
        // padding:10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: auto;
        // padding: 13px 0;
  
        .rightNavbar .link {
            margin-left: 50px;
            color: white;
            font-size: 17px;
            padding: 5px 13px;
            border-radius: 3px;
            font-weight: 500;
            display: inline-block ;

            

            &:hover{
                background: #a20717;
                transition: .5s;
            }

        }

        .rightNavbar .LinkLeft {
            margin-left: 0;
        }

        .rightNavbar .active {
            background-color: #a20717;
        }

        .leftNavbar .logo  {
            color: #a20717;
            
        }


        // -------------------
        // res

        .wrpperResponsiveNavbar{
            display: none;
        }

        .HamburgerNavbar{
            display: none;
        }


    }







}

@media screen and ( min-width: 320px ) and (max-width: 768px) {
    .containerNavbar{
        height: 52px;
        position: static;
        opacity: 1;
        

        .wrapperNavbar{
            width: 100%;
            display: block;
            padding: 0;
            // margin: 0;
            
            
            .rightNavbar{
                display: none;
            }

            .leftNavbar {
                display: none;
            }


            .wrpperResponsiveNavbar{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 15px;
                height: calc(100% - 50px); 
                
                
                
                
                
    
                .iconHamburger{
                    font-size: 30px;
                    color: #fff;
                }

                .logoResponsive{
                    font-size: 14px;
                    color: #a20717;
                }
            }

            .HamburgerNavbar{
                display: none;
                flex-direction: column;
                align-items: center;
                background-color: #1d1d1d;
                // width: 100vh;
                height: calc(100vh - 55px);  
                z-index: 5;
                padding: 100px 0;
                margin: 0;
                transition: 2s;

                .link{
                    color: #fff;
                    text-align: center;
                    margin-bottom: 30px;
                    

                    &.active{
                        background-color: #a20717;
                        padding: 5px 20px;
                        
                    }

                    &:hover{
                        background-color: #a20717;
                        padding: 5px 20px;
                    }
                }



            }

        }
    
    }}